* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    padding: 32px;
    color: white;
}

.container {
    background-color: #c21322;
    display: flex;
    padding: 16px;
    gap: 16px;
    border-radius: 8px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.column-item {
    background-color: #dd3e4a;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
}

.column-item:hover {
    background-color: #a0101c;
    cursor: pointer;
}