* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    padding: 32px;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.input-group {
    flex: 1 1 200px; /* Flex-grow, flex-shrink, flex-basis */
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    flex-basis: 100%;
    padding: 12px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}